                                                        /* CSS BASE */
/* Reset de Estilos */
:root{
    --font-color: #333;
    --border-bottomColor: #33333346;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establecer estilos básicos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color: var(--font-color);
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

ol, ul {
    list-style-type: none;
}

/* Evitar que las imágenes se extiendan fuera de su contenedor */
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #007bff; /* Color predeterminado de enlaces */
}

a:hover {
    text-decoration: underline;
}
                                                        /* CSS ESPECÍFICO */

header{
    padding: 15px 0;
    margin-bottom: 25px;
}

.wrapper{
    margin-left: 40px;
    margin-right: 40px;
}
.wrapper_v2{
    margin: 20px;
}

.border-bottom{
    border-bottom: 1px solid var(--border-bottomColor);
}
.border-bottom_dashed{
    border-bottom: 1px dashed var(--border-bottomColor);
}

#products ul{
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 150px;
    border-bottom: 1px solid var(--border-bottomColor);
    & >li{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding: 15px 0;
    }
}

article{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

#total_amount{
    background-color: rgba(236, 235, 235, 0.377);
    height: max-content;
}

#amount-products-totals ul{
    display: flex;
    flex-direction: column;
    & >li{
        display: flex;
        justify-content: space-between;
        margin: 7.5px;
    }
}

#amount-container{
    display: flex;
    justify-content: space-between;
}

.sku-css{
    font-size: smaller;
}

.center-text{
    text-align: center;
}

